#section07 {
    height: 70vh;
    background-color: var(--main-font-color);
    color: var(--mainBg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact__title {
    font-size: 10vw;
}